nav a{
    float: right;
border: 2px solidrgba(212, 198, 8, 0.832);
background-color: rgba(212, 198, 8, 0.832);
text-decoration:none;
color:#002e5b; 
font-size:18px; 
padding: 25px 35px; 
display:inline-block; 
transition: all 0.5s ease 0s;
width: 100%;
}
.foodFeedNavBar{
margin: auto;
position: absolute;

}
.ProfileBar{
    background: -webkit-linear-gradient(to right, #FF4B2B, #e2c906);
	background: linear-gradient(to right, #3e8ead, #d1c435);
    /* position: relative; */
    /* justify-content: center; */
    height: 250px;
    position: relative;
    
}
.accInfo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    /* text-align: end; */
    /* padding-top: 50px; */
    
}
.body{
    justify-content: center;
    display: flex;
}
.container{
    margin: auto;
    ;
}
img{
    float: right;
    margin-right: 25px;
}
.offered, .shared{
    
   
	border: 2px transparent;
    width: 150px;
    

    text-decoration: none;
    margin-left: 25px;
   
   
}
.search{
    border: 2px solid gray;
    margin-top: 20px ;
    position: absolute;
    padding:9px 4px 9px 40px;
    background: white url("search.svg") no-repeat 13px center;
    text-align: center;
}
